body {
    padding-top: 5rem;
}

h1 {
    font-family: Times New Roman, sans-serif;
    font-size: 30px;
}

h2 {
    font-family: Georgia, sans-serif;
    font-size: 20px;
}
/* Profile Container */
.profile-container {
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #98FB98 58%, white 42%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Profile Image */
.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Profile Info */
.bio-text {
    text-align: justify;
    max-width: 600px;  
    margin: 0 auto;    
    margin-bottom: 15px;  
}

.follow-info {
    text-align: center;
    display: flex;
    margin: 15px 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 18px;
    color: black;
}

/* Follow Button */
.follow-btn {
    background: #98FB98;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.follow-btn:hover {
    background: #4cae4c;
}
