body {
    padding-top: 5rem;
}

/* Profile Container */
.profile-container {
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #39FF14 52%, white 48%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Profile Image */
.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Profile Info */
.profile-info {
    padding-top: 80px;
    padding-bottom: 10px;
}

.profile-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-username {
    color: gray;
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-location,
.profile-joined {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

/* Bio */
.profile-bio {
    font-size: 14px;
    padding: 10px 20px;
    color: #333;
}

/* Stats */
.profile-stats {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.stat {
    text-align: center;
}

.stat strong {
    display: block;
    font-size: 18px;
    color: black;
}

/* Follow Button */
.follow-btn {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

.follow-btn:hover {
    background: #4cae4c;
}
