{% extends "base.html" %}

{% block main %}
<div class="profile-container">
    <img src="{{ url_for('static', filename='profile.jpeg') }}" alt="Profile Picture">
    <h1 class="profile-name">{{ profile.full_name }}</h1>
    <h3 class="profile-username">@{{ profile.username }}</h3>
    <p class="profile-location">{{ profile.location }}</p>
    <p class="profile-joined">Joined {{ profile.date_joined }}</p>

    <!-- Bio -->
    <p class="bio-text">{{ profile.bio }}</p>

    <!-- following/followers/posts format -->
    <p class="follow-info">
        Posts: <strong>{{ profile.posts }}</strong> | 
        Followers: <strong>{{ profile.followers }}</strong> | 
        Following: <strong>{{ profile.following }}</strong>
    </p>

    <!-- Follow Button -->
    <p class="profile-action">
        <button class="follow-btn">Follow</button>
    </p>
</div>
{% endblock %}
