{% extends "base.html" %}

{% block main %}
<div class="profile-container">
    <img src="{{ url_for('static', filename='profile.jpeg') }}" alt="Profile Picture">
    <h1 class="profile-name">{{ profile.full_name }}</h1>
    <h2 class="profile-username">@{{ profile.username }}</h2>
    <p class="profile-location">{{ profile.location }}</p>
    <p class="profile-joined">Joined {{ profile.date_joined }}</p>

    
    <p class="bio-text">{{ profile.bio }}</p>

    
    <div class="follow-info">
        <div class="follow-item">
            <strong>{{ profile.posts }}</strong>
            <span>Posts</span>
        </div>
        <div class="follow-item">
            <strong>{{ profile.followers }}</strong>
            <span>Followers</span>
        </div>
        <div class="follow-item">
            <strong>{{ profile.following }}</strong>
            <span>Following</span>
        </div>
    </div>

    
    <p class="profile-action">
        <button class="follow-btn">Follow</button>
    </p>
</div>
{% endblock %}
